.event-container {
    text-align: center;
    padding: 0px 35px;
  }
  
  .event-heading {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    gap: 20px;
    padding: 10px;
  }
  